@{
    ViewBag.Title = "About Jules and Julie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>I would like to thank the Academy Awards Committee for this prestigious award... Uh-yuck! Oh, Stop... Lol!</p>
